<div class="swiper" id="swiper">
    <div class="swiper-header">
        <div class="avatar" style="float: left;">
            <img [src]="userInfo ? userInfo.data.pic : './assets/images/default-avatar.png'" alt="">
            <span style="padding-left: 60px;">{{userInfo ? userInfo.data.name : 'log in'}}</span>
        </div>
        <div style="float: right;
        margin-right: 14px;">Loop</div>
    </div>
   
    <div class="swiper-container">
        <div class="card" [ngStyle]="user.style" *ngFor="let user of users" (touchstart)="touchstart($event,user)" (touchmove)="touchmove($event,user)"
            (touchend)="touchend($event,user)">
            <img [src]="user.src" alt="">
        </div>
    </div>
    <div class="swiper-footer">
        <span (click)="unLove()">
            <i class="iconfont iconclose"></i>
        </span>
        <span (click)="love()">
            <i class="iconfont iconlove" style="color: #ff5454;"></i>
        </span>

    </div>
</div>