.swiper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
}
.swiper-header {
    height: 50px;
    background: #1041f9;
    color: #ffffff;
    font-size: 18px;
    line-height: 50px;
}
.avatar img{
    width: 40px;
    border-radius: 11px;
    position: absolute;
    left: 10px;
    top: 4px;
}
.swiper-container {
    min-height: 500px;
}
.card {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 90px;
    overflow: hidden;
    border-radius: 10px;
}
.card img {
    width: 100%;
}
.swiper-footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.swiper-footer span{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #efefef;
    border-radius: 60px;
    margin: 0 24px;
}